<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One WAY</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <!--boxicons link-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!--remix icons link-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

    <!--google fonts link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jersey+10&family=Poetsen+One&family=Rubik+Glitch+Pop&display=swap"
        rel="stylesheet">

</head>

<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap" rel="stylesheet">

    <header>
        <a href="#" class="logo">
            ONE WAY
        </a>

        <ul class="navmenu">
            <li><a href="/admin">Admin</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="#">Gameplay</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="/suporte">Suporte</a></li>

        </ul>

        <<div class="nav-rigth">
            <a href="/login" class="nav-btn">Login</a>
            <div class="bx bx-menu" id="menu-icon">
            </div>
    </header>

    <section class="hero">
        <div class="hero-text">
            <span>Unity</span>
            <h5>Adventure</h5>
            <h1>ONE WAY</h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis mollitia
                blanditiis magni voluptatum. Praesentium sequi magnam quisquam, sapiente
                velit dolore asperiores corrupti a magni modi libero sint soluta repudiandae itaque?

            </p>
            <div class="hero-btn">
                <a href="#">Read More<i class="ri-arrow-rigth-line"></i></a>
                <a href="#" class="btn2">Watch videos<i class="ri-play-fill"></i></a>

            </div>
        </div>

        <div class="hero-img"></div>
        <img src="/img/hero.png">
        </div>

    </section>

    <div class="social-icons">
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-twitter-x-line"></i></a>
        <a href="#"><i class="ri-mail-line"></i></a>


    </div>

    <div class="scroll-btn">
        <a href="#"><i class="ri-arrow-down-double-line"></i>
            Scroll Down
        </a>
    </div>

    <!--custom js file-->
    <script src="/js/script">

    </script>

</body>

</html>