<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobre - One WAY</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
        
    <!--boxicons link-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!--remix icons link-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

    <!--google fonts link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jersey+10&family=Poetsen+One&family=Rubik+Glitch+Pop&display=swap" rel="stylesheet">

   

    <section class="hero">
        <div class="hero-text">
            <h1>Sobre o Jogo One WAY</h1>
            <p>One WAY é um jogo de aventura e ação que desafia os jogadores a explorar um mundo sombrio repleto de perigos e mistérios. Desenvolvido com a mais recente tecnologia, o jogo oferece uma experiência intensa com três fases desafiadoras e um boss final poderoso.</p>
            <p>Prepare-se para testar suas habilidades, enfrentar inimigos formidáveis e descobrir segredos escondidos enquanto busca pela vitória suprema.</p>
        </div>
        <div class="hero-img">
            <img src="/img/hero.png" alt="Imagem sobre o jogo">
        </div>
    </section>

    <section class="about">
        <div class="about-text">
            <h2>Embarque em uma jornada épica através de um universo sombrio e repleto de ação. One WAY oferece uma jogabilidade única com desafios intensos e uma narrativa envolvente. Enfrente inimigos implacáveis e vença o boss final para conquistar a vitória.</h2>
        </div>
    </section>
</body>

</html>
